
.main {
    .inner-content {
        padding-left: $padding-large;
        padding-right: $padding-large;

        h1 {
            margin: 0;
        }
    }

    .intro {
        padding-top: 8em;
        padding-bottom: 4em;
        h1 {
            line-height: 1.4;
        }
    }

    .profile-img {
        .inner-content {
            background-image: url('/assets/img/main-profile.png');
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 21%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }

    .description {
        padding-top: 1.8em;
        padding-bottom: 1em;
        p {
            line-height: 1.8;
        }
    }
    .skill {
        padding-bottom: 3em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .skill-list {
            margin-left: 0;
            .skill-item {
                display: inline-block;
                padding: 0.4em 0.8em;
                border-radius: 100px;
                border: solid 1px rgba(85, 88, 91, 0);
                font-size: 0.9em;
                margin: 0 8px 14px 0;
                background-color: rgba(85, 88, 91, 0.2);
            }
        }
    }
}

/* responsive */
@media (max-width: 1000px) {
    .main {
        .profile-img {
            .inner-content {
                padding-top: 25%;
            }
        }
    }
}
@media (max-width: 1000px) {
    .main {
        .inner-content {
            padding-left: 12.5%;
            padding-right: 12.5%;
        }
        .profile-img {
            .inner-content {
                margin-left: 7.5%;
                margin-right: 7.5%;
            }
        }
    }
}
@media (max-width: 845px) {
    .main {
        .skill {
            .skill-list {

                .skill-item {
                    font-size: 0.7em;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main {
        .intro {
            h1 {
                font-size: 1.5em;
            }
        }
        .inner-content {
            padding-left: $padding-small;
            padding-right: $padding-small;
        }
        .profile-img {
            .inner-content {
                margin-left: 2%;
                margin-right: 2%;
            }
        }
    }
}