h1.title {
    // @extend .header-txt-shadow;
    background-color: rgba(250, 114, 104, 0.3);
    opacity: 1;
    display: inline;
    padding: 0.2rem;
    margin: 0;
    // box-decoration-break: clone;
}

.subtitle {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    text-shadow: initial !important;
    color: #fff;
}


// highlight effect
.highlight-pink span { 
    background-color: rgba(250, 114, 104, 0.4);
    opacity: 1;
    display: inline;
    padding: 0.3rem;
    // box-decoration-break: clone;
}
.highlight-grey span { 
    background-color: rgba(83, 83, 83, 0.2);
    opacity: 1;
    display: inline;
    padding: 0.2rem;
    // box-decoration-break: clone;
}

//Shared css in _post.scss
