---
layout: default
---

<section class="intro-myself">
  <div class="inner-content">
    <h1 class="highlight-pink">
      Hi! I am <span>Nahyeon Lee</span>, <br><span>a Full-stack Web Developer</span> from Seoul.
    </h1>
    <div class="description">
      <p>I design, build, operate & sometimes rescue full-stack web applications.</p>
      <ul class="skill">
        <li class="skill-item">
          Digital Product Design
        </li>

        <li class="skill-item">
          UX Design
        </li>

        <li class="skill-item">
          Visual Design
        </li>
      </ul>
    </div>
  </div>
</section>