---
layout: default
---

<div class="main">
  <section class="intro">
    <div class="inner-content">
      <h1 class="highlight-pink">
        Hello! I am <span>Nahyeon Lee</span>, <br><span>a Full-stack Web Developer</span> from Seoul, Korea.
      </h1>
    </div>
  </section>
  <section class="profile-img">
    <div class="inner-content">
    </div>
  </section>
  <section class="description">
    <div class="inner-content">
      <h3>About me</h3>
      <p>I am <u>a junior full-stack web developer</u> with a lot of passion and commitment. I work on visualizing, building, deploying and
          maintaining a web application from business logic to a presentation level.
          My main language is <u>Angular</u>, <u>Java</u>, and <u>Spring</u>, but I also welcome to take an adventure with any other ones!
          You can check <a href="{{ '/portfolio' | relative_url }}">my recent works</a> and 
        <a href="{{ '/blog' | relative_url }}">my blog</a> to get to know more about me.</p>
      <p>Feel free to get in touch with me by <a class="pink" href="mailto:naboee0627@gmail.com">naboee0627@gmail.com</a>.</p>
    </div>
  </section>
  <section class="skill">
    <div class="inner-content">
      <h3>Skills</h3>
      <ul class="skill-list">
          <li class="skill-item">
            Java
          </li>
          <li class="skill-item">
            Kotlin
          </li>
          <li class="skill-item">
            Angular
          </li>
          <li class="skill-item">
            TypeScript
          </li>
          <li class="skill-item">
            JavaScript
          </li>
          <li class="skill-item">
            React
          </li>
          <li class="skill-item">
            Spring Framework
          </li>
          <li class="skill-item">
            Spring Boot
          </li>
          <li class="skill-item">
            JPA / Hybernate
          </li>
          <li class="skill-item">
            MySQL
          </li>
          <li class="skill-item">
            Photoshop
          </li>
          <li class="skill-item">
            Fabric / Doll Collecting
          </li>
        </ul>
    </div>
  </section>
</div>